@model string
<div class="center">
    <div class="form-group form-inline">
        @using (Html.BeginForm("Go", "Home"))
        {
            <input autofocus type="password" name="Haslo" placeholder="pass" class="form-control"/>
            <input id="go" type="submit" value="OK" class="btn btn-primary pull-right">
        }
    </div>
</div>
